<h2 class="text-center">Awards</h2>
<br>
<br>
<div class="row">
    <div>
        <div id="award-space1">
            <img width="600" height="620" src="images/awards/a1.jpg" alt="Breakfast">
        </div>
        <p id="awards-para">Foeign food festival 2000</p>
    </div>
    <br>
    <hr id="award-hr">
    <br>
    <div>
        <div id="award-space2">
            <img width="600" height="620" src="images/awards/a2.jpg" alt="Breakfast">
        </div>
        <p id="awards-para">Food awards for serving quality food 2008</p>
    </div>
</div>