    <h2 id="menu-categories-title" class="text-center">Breakfast Menu</h2>
    <div class="text-center">Breakfast is not served until after 8am.</div>

    <section class="row">
      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              <div>B01</div>
              <img class="img-responsive" width="250" height="150" src="images/menu/b/b1.jpg" alt="Item">
            </div>
            <div class="menu-item-price">100tk<span> (pint)</span> 120tk <span>(quart)</span></div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Pumpkin Soup</h3>
            <p class="menu-item-details">Pour broth into a large saucepan over high heat. When boiling, drop in
              meatballs. Stir in escarole, lemon zest and orzo. Return to a boil; reduce heat to medium. Cook at a slow
              boil for 10 minutes or until orzo is tender, stirring frequently. Serve sprinkled with cheese. </p>
          </div>
        </div>
        <hr class="visible-xs">
      </div>

      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              <div>B02</div>
              <img class="img-responsive" width="250" height="150" src="images/menu/b/b2.jpg" alt="Item">
            </div>
            <div class="menu-item-price">100tk<span> (pint)</span> 135 <span>(quart)</span></div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Veal with Mixed Vegetables</h3>
            <p class="menu-item-details">Toscana is normally a soup made from kale, potatoes, sometimes cannellini
              beans, onion and carrots. The main difference with the Olive Garden is the Italian sausage.

              I chose a milder Italian sausage for this soup but I did add some red pepper flakes. You can definitely
              make it spicier by using a spicy Italian sausage, and adjust the red pepper flakes to your liking.</p>
          </div>
        </div>
        <hr class="visible-xs">
      </div>
      <!-- Add after every 2nd menu-item-tile -->
      <div class="clearfix visible-lg-block visible-md-block"></div>

      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              <div>B03</div>
              <img class="img-responsive" width="250" height="150" src="images/menu/b/b3.jpg" alt="Item">
            </div>
            <div class="menu-item-price">100tk<span> (pint)</span> 120<span>(quart)</span></div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Broccoll cheese</h3>
            <p class="menu-item-details">You’ll find many creamy broccoli soups are made with a roux, being melted
              butter mixed with flour which thickens the soup, then broccoli pieces are tossed in and cooked in that
              thickened soup.

              I prefer making broccoli soup by cooking the broccoli until soft then blitzing it up to make a naturally
              thick and creamy soup. This way you actually get lovely broccoli flavour in the soup, rather than a
              generic creamy broth with bits of broccoli in it. Bonus is that it’s healthier!</p>
          </div>
        </div>
        <hr class="visible-xs">
      </div>

      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              <div>B04</div>
              <img class="img-responsive" width="250" height="150" src="images/menu/b/b4.jpg" alt="Item">
            </div>
            <div class="menu-item-price">100tk<span> (pint)</span> 130 <span>(quart)</span></div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Tomato Orzo Soup with Kale</h3>
            <p class="menu-item-details">Bring beef stock to a boil in a stockpot; add orzo and cook for 5 minutes. Mix
              in fire-roasted tomatoes, tomato soup, kidney beans, cannellini beans, chicken bouillon, and red pepper
              flakes into orzo; return to a boil. Reduce heat and simmer, stirring occasionally, </p>
          </div>
        </div>
        <hr class="visible-xs">
      </div>
      <!-- Add after every 2nd menu-item-tile -->
      <div class="clearfix visible-lg-block visible-md-block"></div>

    </section>