<h2 id="menu-categories-title" class="text-center">Dinner Menu</h2>
<div class="text-center">Dinner is not served until after 8pmm.</div>

<section class="row">
  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>D01</div>
          <img class="img-responsive" width="250" height="150" src="images/menu/d/d1.jpg" alt="Item">
        </div>
        <div class="menu-item-price">100tk<span> (pint)</span> 120tk <span>(quart)</span></div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">Grilled Hoisin Beef</h3>
        <p class="menu-item-details">The (underrated) hoisin sauce is a thickened, fermented soy-sauce-like substance, flavored with chilies, garlic, vinegar, sugar, and, of course, exotic spices. It makes a great marinade. And unless you horribly overcook it, this skirt steak is juicy and tender. </p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>

  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>D02</div>
          <img class="img-responsive" width="250" height="150" src="images/menu/d/d2.jpg" alt="Item">
        </div>
        <div class="menu-item-price">59tk<span> (pint)</span> 99 <span>(quart)</span></div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">Chinese Sausage Fried Rice</h3>
        <p class="menu-item-details">Traditionally fried rice was prepared with leftovers and overnight rice. There was no special recipe to fried rice. Look in your fridge or pantry for what you think could enhance the flavor of leftover rice. If you are looking to cook a different fried rice, Chinese style, here's one. If rice is cooked slightly dry or 1 day old, the output will turn out better.</p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>
  <!-- Add after every 2nd menu-item-tile -->
  <div class="clearfix visible-lg-block visible-md-block"></div>

  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>D03</div>
          <img class="img-responsive" width="250" height="150" src="images/menu/d/d3.jpg" alt="Item">
        </div>
        <div class="menu-item-price">150tk<span> (pint)</span>250 <span>(quart)</span></div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title"> Tsao's Chicken with Noddles</h3>
        <p class="menu-item-details">A genuinely mouthwatering dish with an Asian kick that will knock your chopsticks off! Don't be fooled by other General Tsao impostors: this is simply the best Chinese chicken you will ever have. With a flair of peanut oil, a streak of sesame, a dash of orange, and a sweet spot for hot, this is sure to be a favorite. Just don't forget to deep-fry twice! Serve with steamed broccoli and white rice.</p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>

  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>D04</div>
          <img class="img-responsive" width="250" height="150" src="images/menu/d/d4.jpg" alt="Item">
        </div>
        <div class="menu-item-price">300tk<span> (pint)</span> 450 <span>(quart)</span></div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">Szechuan Peppercorn Salmon</h3>
        <p class="menu-item-details">TA spice rub of Szechuan peppercorns and garlic put a new spin on simple broiled salmon. Use wild Alaskan troll-caught salmon for best flavor.</p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>
  <!-- Add after every 2nd menu-item-tile -->
  <div class="clearfix visible-lg-block visible-md-block"></div>

</section>