        <h2 id="menu-categories-title" class="text-center">Menu Categories</h2>
        <div class="text-center">
          Substituting white rice with brown rice or fried rice after 3:00pm will be 99tk for a pint and 179tk for a
          quart.
        </div>

        <section class="row">
          <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#" onclick="$gw.loadBreakfast();">
              <div class="category-tile">
                <img width="200" height="200" src="images/menu/morning.jpg" alt="Breakfast">
                <span>Breakfast</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#"onclick="$gw.loadLunch();">
              <div class="category-tile">
                <img width="200" height="200" src="images/menu/noon.jpg" alt="Lunch">
                <span>Lunch</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#" onclick="$gw.loadSnacks();">
              <div class="category-tile">
                <img width="200" height="200" src="images/menu/evening.jpg" alt="Snacks">
                <span>Snacks</span>
              </div>
            </a>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#" onclick="$gw.loadDinner();" >
              <div class="category-tile">
                <img width="200" height="200" src="images/menu/nigtht.jpg" alt="Dinner">
                <span>Dinner</span>
              </div>
            </a>
          </div>

        </section>