        <h2 id="menu-categories-title" class="text-center">Snacks Menu</h2>
        <div class="text-center">Snacks is not served until after 5pm.</div>

        <section class="row">
          <div class="menu-item-tile col-md-6">
            <div class="row">
              <div class="col-sm-5">
                <div class="menu-item-photo">
                  <div>S01</div>
                  <img class="img-responsive" width="250" height="150" src="images/menu/S/S1.jpg" alt="Item">
                </div>
                <div class="menu-item-price">100tk<span> (pint)</span> 120tk <span>(quart)</span></div>
              </div>
              <div class="menu-item-description col-sm-7">
                <h3 class="menu-item-title">Rice ball</h3>
                <p class="menu-item-details">Rice Ball saucepan over high heat. When boiling, drop in meatballs. Stir in
                  escarole, lemon zest and orzo. Return to a boil; reduce heat to medium. Cook at a slow boil for 10
                  minutes or until orzo is tender, stirring frequently. Serve sprinkled with cheese. </p>
              </div>
            </div>
            <hr class="visible-xs">
          </div>

          <div class="menu-item-tile col-md-6">
            <div class="row">
              <div class="col-sm-5">
                <div class="menu-item-photo">
                  <div>S02</div>
                  <img class="img-responsive" width="250" height="150" src="images/menu/S/S2.jpg" alt="Item">
                </div>
                <div class="menu-item-price">59tk<span> (pint)</span> 99 <span>(quart)</span></div>
              </div>
              <div class="menu-item-description col-sm-7">
                <h3 class="menu-item-title">Chocolet Cake</h3>
                <p class="menu-item-details">I’m picky about what makes a good enchilada. First off, it’s all about that
                  sauce. The sauce makes or breaks an enchilada and this sauce is so delicious!

                  Second, no flour tortillas! Okay this is totally personal opinion but enchiladas on flour tortillas
                  should never be a thing.

                  Corn tortillas don’t get soggy and mushy. They absorb the sauce better and the flavor is just more
                  fitting.</p>
              </div>
            </div>
            <hr class="visible-xs">
          </div>
          <!-- Add after every 2nd menu-item-tile -->
          <div class="clearfix visible-lg-block visible-md-block"></div>

          <div class="menu-item-tile col-md-6">
            <div class="row">
              <div class="col-sm-5">
                <div class="menu-item-photo">
                  <div>S03</div>
                  <img class="img-responsive" width="250" height="150" src="images/menu/S/S3.jpg" alt="Item">
                </div>
                <div class="menu-item-price">100tk<span> (pint)</span> 0<span>(quart)</span></div>
              </div>
              <div class="menu-item-description col-sm-7">
                <h3 class="menu-item-title">Kung Pao Chicken</h3>
                <p class="menu-item-details">My version involves making a marinade – a third of which is used to
                  marinade the chicken. The remaining two-thirds is added at the end along with the vegetables and
                  reduced down to get a thick sauce with loads of flavour.

                  I love to make extra kung pao chicken that i'll quickly cool, cover and refrigerate. It tastes great
                  served cold with some couscous/quinoa/bulgur wheat and salad and should last 2 days in the fridge -
                  which makes it a great option for meal prep.</p>
              </div>
            </div>
            <hr class="visible-xs">
          </div>

          <div class="menu-item-tile col-md-6">
            <div class="row">
              <div class="col-sm-5">
                <div class="menu-item-photo">
                  <div>S04</div>
                  <img class="img-responsive" width="250" height="150" src="images/menu/S/S4.jpg" alt="Item">
                </div>
                <div class="menu-item-price">100tk<span> (pint)</span> 180 <span>(quart)</span></div>
              </div>
              <div class="menu-item-description col-sm-7">
                <h3 class="menu-item-title">Spicy Mee Goreng</h3>
                <p class="menu-item-details">This spicy Asian noodles recipe was inspired by my dad, who spent part of
                  his childhood in Singapore. His time over there gave him a real taste for the spicy, saucy noodle/rice
                  dishes Singapore is famous for, and he came back with a repertoire of lip smackingly good dishes that
                  he passed on to me</p>
              </div>
            </div>
            <hr class="visible-xs">
          </div>
          <!-- Add after every 2nd menu-item-tile -->
          <div class="clearfix visible-lg-block visible-md-block"></div>

        </section>