<h2 id="menu-categories-title" class="text-center">Special Menu</h2>
<div class="text-center">Special menu availables at any time</div>

<section class="row">
  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>SP01</div>
          <img class="img-responsive" width="250" height="150" src="images/menu/sp/sp1.jpg" alt="Item">
        </div>
        <div class="menu-item-price">100tk<span> (pint)</span> 120tk <span>(quart)</span></div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">Chinese Scallion Pancake Wrap</h3>
        <p class="menu-item-details">with choice of string bean, string bean chicken, string bean beef, beef onions, moo shu vegetable </p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>

  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>SP02</div>
          <img class="img-responsive" width="250" height="150" src="images/menu/sp/sp2.jpg" alt="Item">
        </div>
        <div class="menu-item-price">59tk<span> (pint)</span> 99 <span>(quart)</span></div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">Vegetable Tempura</h3>
        <p class="menu-item-details">assorted vegetables breaded and fried, served with lo mein on the side</p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>
  <!-- Add after every 2nd menu-item-tile -->
  <div class="clearfix visible-lg-block visible-md-block"></div>

  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>SP03</div>
          <img class="img-responsive" width="250" height="150" src="images/menu/sp/sp3.jpg" alt="Item">
        </div>
        <div class="menu-item-price">100tk<span> (pint)</span> 150<span>(quart)</span></div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">Happy Family</h3>
        <p class="menu-item-details">beef, veal, and chicken sauteed with mixed vegetables in chef's special sauce; lo mein served on the side</p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>

  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>SP04</div>
          <img class="img-responsive" width="250" height="150" src="images/menu/sp/sp4.jpg" alt="Item">
        </div>
        <div class="menu-item-price">130tk<span> (pint)</span> 220 <span>(quart)</span></div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">Grilled Veal</h3>
        <p class="menu-item-details">marinated and grilled veal served with vegetables and lo mein on the side</p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>
  <!-- Add after every 2nd menu-item-tile -->
  <div class="clearfix visible-lg-block visible-md-block"></div>

  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>SP05</div>
          <img class="img-responsive" width="250" height="150" src="images/menu/sp/sp5.jpg" alt="Item">
        </div>
        <div class="menu-item-price">120tk<span> (pint)</span> 210 <span>(quart)</span></div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">Teriyaki Chicken</h3>
        <p class="menu-item-details">marinated grilled chicken breast with vegetables and lo mein on the side</p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>
  <!-- Add after every 2nd menu-item-tile -->
  <div class="clearfix visible-lg-block visible-md-block"></div>

</section>